$color-grey-1: #4a4a4a;

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: 300;
	line-height: 1.7;
	font-size: 1.7rem;
}

.container {
	margin: 0 auto;
	max-width: 140rem;
	padding: 0 50px;

	@media only screen and (max-width: 1200px) {
		padding: 0 25px;
	}

	@media only screen and (max-width: 600px) {
		padding: 0 8px;
	}
}

a,
a:hover,
a:visited,
a:active {
	color: inherit;
}

.u-col-f3-flex {
	background-color: #f3f3f3;
	display: flex;
	justify-content: center;
}

.u-vh-calc {
	min-height: calc(100vh - 320px);
}

// Transform fade in right in just fade in
*[data-aos="fade-right"] {
	// or another animation type you have
	-webkit-transform: translate3d(
		0,
		0,
		0
	) !important; // or another value you need
	transform: translate3d(0, 0, 0) !important; // or another value you need
}

.border {
	border: 1px solid red;
}
