.checkout-item {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(17rem, 23%) repeat(4, 1fr);
  justify-items: center;
  min-height: 10rem;
  border: 1px solid darkgrey;
  border-top: none;
  padding: 1.5rem 0;
  font-size: 2rem;
  align-items: center;
  background-color: #eee;

  @media only screen and (max-width: 600px) {
    grid-template-columns: auto;
    justify-content: center;
  }

  &__image-container {
    width: 22%;
    min-width: 16rem;

    height: 17.5rem;
    background-size: cover;
    background-position: center;
    @media only screen and (max-width: 600px) {
      grid-row: 2;
      margin-top: 1rem;
    }
  }

  &__name {
    text-align: center;
  }

  &__remove-button {
    cursor: pointer;
    font-size: 1.5rem;
    &:active {
      transform: translateY(1px);
    }
  }
}

.icon {
  &-r {
    margin-top: 1px;
    margin-left: 0.4rem;
    padding: 1rem;
    font-size: 1.6rem;
    cursor: pointer;
    &:active {
      transform: translateY(1px);
    }
  }
  &-l {
    margin-top: 1px;
    margin-right: 0.4rem;
    padding: 1rem;
    font-size: 1.6rem;
    cursor: pointer;
    &:active {
      transform: translateY(1px);
    }
  }
}
