@mixin shop-category__element__image {
	position: absolute;
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: cover;
	z-index: -1;
	transition: all 0.8s ease;
}

.homepage {
	&__sentence--1 {
		padding: 75px 0;
		text-align: center;
		font-family: "Poppins", serif;
		color: #4a4a4a;
	}

	&__shop-category {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		height: 450px;
		grid-column-gap: 2%;
		grid-row-gap: 16px;
		cursor: pointer;

		@media only screen and (max-width: 991px) {
			height: 400px;
		}

		@media only screen and (max-width: 767px) {
			grid-template-columns: repeat(2, 1fr);
			height: 900px;
		}

		@media only screen and (max-width: 600px) {
			height: 800px;
		}

		&__element {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			overflow: hidden;

			&:hover div:first-child {
				transform: scale(1.03);
				filter: brightness(0.88);
			}

			&__image--1 {
				@include shop-category__element__image;
				background-image: url("../../assets/tops.jpg");
			}

			&__image--2 {
				@include shop-category__element__image;
				background-image: url("../../assets/tunic.jpg");
			}

			&__image--3 {
				@include shop-category__element__image;
				background-image: url("../../assets/dress.jpg");
			}

			&__image--4 {
				@include shop-category__element__image;
				background-image: url("../../assets/sweatshirts.jpg");
			}

			&--text {
				background-color: white;
				padding: 8px 15px;
			}
		}
	}

	&__fresh-looks {
		margin-top: 75px;
		height: 750px;
		position: relative;
		background-image: linear-gradient(-90deg, #00000088 20%, #ffffff20 100%);
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		font-family: "Playfair Display", serif;

		&__image {
			position: absolute;
			height: 100%;
			width: 100%;
			background-position: center;
			background-size: cover;
			background-image: url("../../assets/red-dress.jpg");
			z-index: -1;
		}

		&__content {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			padding-right: 42px;
		}

		&__text--1 {
			font-size: 20px;
		}

		&__text--2 {
			font-size: 45px;
		}

		&__text--3 {
			text-align: end;
			font-size: 18px;
			font-family: "Poppins", serif;
			margin-bottom: 15px;
		}

		&__space {
			display: inline-block;
			width: 16px;
			height: 10px;
		}
	}

	&__middle {
		display: flex;
		align-items: center;
		justify-content: center;
		color: #4a4a4a;
		min-height: 280px;

		@media only screen and (max-width: 600px) {
			padding: 20px 0;
		}

		&__fiability {
			flex-grow: 1;
			.homepage__fiability__item {
				display: flex;
				justify-content: center;
				margin: 10px 0;
				@media only screen and (min-width: 768px) {
					margin-top: 0px;
				}
				&--icon {
					display: flex;
					align-items: center;
					padding-right: 16px;
					font-size: 25px;
				}

				&--right {
					max-width: 150px;
				}

				&--title {
					font-size: 18px;
					font-weight: bold;
					text-transform: uppercase;
				}
			}
		}
	}

	&__bottom {
		min-height: 400px;
		padding: 0 0;

		&__title {
			font-size: 30px;
			color: black;
			font-family: "Poppins", sans-serif;
			display: flex;
			align-items: center;
			&--sepa {
				background-color: #4a4a4a;
				opacity: 0.1;
				flex-grow: 1;
				height: 2px;
				margin-left: 30px;
			}
		}

		&__subtitle {
			font-size: 20px;
			color: #4a4a4a;
			transform: translateY(-10px);
			margin-bottom: 15px;
			font-family: "Poppins", sans-serif;
		}

		&__line {
			padding-bottom: 100px;

			&__card {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 25px;
				color: white;

				//flex-grow: 1;
				height: 350px;
				background-position: center;
				background-size: cover;
				background-image: url("../../assets/man.jpg");

				&--square {
					padding: 0 25px;
					border: rgba($color: white, $alpha: 0.1) solid 7px;
					width: 100%;
					height: 100%;

					&--title {
						font-size: 38px;
						font-weight: bold;
					}

					&--description {
						font-size: 30px;
						transform: translateY(-18px);
					}

					&--btn {
						cursor: pointer;
						font-weight: bold;
						display: flex;
						justify-content: center;
						align-items: center;
						width: 150px;
						height: 10px;
						border: 1px solid white;
						padding: 20px 0;
						transition: all 0.2s;

						&:hover {
							border: 1px solid black;
							background-color: black;
						}
					}
				}
			}

			.line__card--alt {
				color: black;
				background-image: url("../../assets/woman.jpg");
				background-position: right;
				background-size: cover;
				margin-top: 20px;
				.homepage__bottom__line__card--square {
					border: rgba($color: black, $alpha: 0.1) solid 7px;
					&--btn {
						border: 1px black solid;

						&:hover {
							color: white;
						}
					}
				}

				@media only screen and (min-width: 768px) {
					margin-top: 0px;
				}
			}
		}
	}
}

//

.bounce-top {
	-webkit-animation: bounce-top 4s forwards infinite;
	animation: bounce-top 4s forwards infinite;
	transform: translateX(-50%);
}

@keyframes bounce-top {
	0% {
		-webkit-transform: translateY(0px) translateX(-50%);
		transform: translateY(0px) translateX(-50%);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	13% {
		-webkit-transform: translateY(-20px) translateX(-50%);
		transform: translateY(-20px) translateX(-50%);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	25% {
		-webkit-transform: translateY(0px) translateX(-50%);
		transform: translateY(0px) translateX(-50%);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	37% {
		-webkit-transform: translateY(-20px) translateX(-50%);
		transform: translateY(-20px) translateX(-50%);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	50% {
		-webkit-transform: translateY(0px) translateX(-50%);
		transform: translateY(0px) translateX(-50%);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	100% {
		-webkit-transform: translateY(0px) translateX(-50%);
		transform: translateY(0px) translateX(-50%);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
}
