.footer {
	padding: 55px;
	font-family: "Poppins", serif;
	color: #4a4a4a;
	font-size: 13px;

	@media only screen and (max-width: 600px) {
		padding-top: 0px;
	}
	&__svg-list {
		display: flex;
		justify-content: center;
	}
	&__trustsvg {
		border: 1px solid #3332;
		height: 24px;
		border-radius: 2px;
		margin: 0 4px;
	}

	&__copyright {
		margin-top: 16px;
		text-align: center;
	}
}
